/* Global nav background */
.navbar-default {
    background-color: #FD6D22;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #A24616;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #5C280D;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5C280D;
}

a {
  color: #FD6D22;
}

h1 {font-size: 1.7em;
}

h2 {font-size: 1.3em;
}

.section {
  margin-top: 1.5em;
}

h1.title {font-size: 2.2em;
}

table {background-color: #F0F0F0;
  width: 75%;
}

th {background-color: #5C280D;
color: #FFFFFF;
border-bottom: 1.5px solid #FFFFFF;
}

td {border-bottom: 1.5px solid #FFFFFF;}